SUPABASE_URL=https://zvvmmwuqhgobmouofthr.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2dm1td3VxaGdvYm1vdW9mdGhyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzExMjM0MCwiZXhwIjoyMDkyNjg4MzQwfQ.j5IPgL_3DWl4k0-9ks7V2dmb3Rrzehk1CfWi2RZ8V10
EXPO_ACCESS_TOKEN=nGWaAaVkDJtPeG-Fh0vX9BAo1pmvCtPj83WjGkRX
