EXPO_PUBLIC_SUPABASE_URL=https://zvvmmwuqhgobmouofthr.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2dm1td3VxaGdvYm1vdW9mdGhyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMTIzNDAsImV4cCI6MjA5MjY4ODM0MH0.lESGGzOJbuRRB3a1ouRKVVHnt7IXsnxYy8PSYsdfgNc
EXPO_PUBLIC_POSTHOG_API_KEY=phc_A3XxMsBAot18Ah33yOJ8z3Q6rEK4c5NvP1ITvLt9KZ1
EXPO_PUBLIC_SENTRY_DSN=https://133d1cb4eb0564d763e4ad7df941082a@o4511280293412864.ingest.us.sentry.io/4511280298721280
EXPO_PUBLIC_EAS_PROJECT_ID=871e2680-2c6c-4e6d-adc0-b480f4881d44
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=26959133539-pjb210v9p5eu3ka8a71a3abssislarer.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=26959133539-ji53oqd75djfditrbtmn4p4u9uhcs8g8.apps.googleusercontent.com
